@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  margin: 0;
  background: rgb(165,232,238);
background: linear-gradient(90deg, rgba(165,232,238,1) 1%, rgba(83,192,201,1) 50%, rgb(64, 129, 136) 100%);
  font-family: "Madimi One";
  color: #3b8891b5;
}

.card {
    background: transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    padding: 2em; 
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;;
}

input.search-bar {
    border: none;
    outline: none;
    padding: 0.8em;
    border-radius: 18px;
    background-color: #a5e8ee94;
    color: #3b8891b5;
    font-family: "Madimi One";
    width:calc(100% - 100px);
}

::placeholder {
    color: #3b8891b5;
}

button {
    margin: 0.5em;
    border-radius: 2.5em;
    border: none;
    width: 5em;
    height: 3em;
    outline: none;
    background: #a5e8ee94;
    color: #3b8891b5;
    font-family: "Madimi One";
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

button:hover{
    background: #3f8c9394;
    color: #a5e8ee94;
}

.temp {
    margin: 0;
    margin-bottom: 0.4em;
    font-size: 30px;
}

.description {
    font-size: 19px;
}

.humidity, .wind {
    font-size: 17.5px;
}

.flex {
    display: flex;
    align-items: center;
}

.description {
    text-transform: capitalize;
    margin-left: 8px;
}

.weather.loading {
    visibility: hidden;
    max-height: 20px;
    position: relative;
}

.weather.loading:after {
    visibility: visible;
    content: "Loading...";
    color: #b1fbff;
    position: absolute;
    top: 0;
    left: 20px;
  }